body{
    color: aqua;
    background-color: rgb(234, 234, 234);
    box-shadow: inset;
    
}
 h1{
    text-align: center;
 }

 div{
    margin: auto;
    text-align: center;
 }
 




